<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>
<header class="p-3 text-bg-dark" th:fragment="header">

    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start d-print-none">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="/io.png" style="width: 25px"/>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li>
                <a href="/admin/exam-session" class="nav-link px-2 text-white">Испитна сесија</a>
            </li>
            <li>
                <a href="/admin/exam-definition" class="nav-link px-2 text-white">Организација на полагање</a>
            </li>
            <li>
                <a href="/admin/subject-exam" class="nav-link px-2 text-white">Испити</a>
            </li>
        </ul>
    </div>


</header>
</body>
</html>
