<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Edit the Subject Exam</title>
</head>
<body>
<div class="mt-4" layout:fragment="content">
    <form method="POST" th:action="@{'/admin/subject-exam/{name}' (name=${se?.getId()})}">
        <label for="name">Name:</label>
        <input type="text"
               class="form-control"
               id="name"
               name="name"
               th:Value="${se.definition.subject.name}"
               required><br><br>

        <label for="session">Year Exam Session:</label>
        <input type="text"
               class="form-control"
               id="session"
               name="session"
               th:value="${se?.session.name}"
               required><br><br>

        <label for="durationMinutes">Duration in Minutes:</label>
        <input type="text"
               class="form-control"
               id="durationMinutes"
               name="durationMinutes"
               th:value="${se?.durationMinutes}"
               required><br><br>

        <label for="previousYearAttendantsNumber">Previous Year Attendants Number:</label>
        <input type="number"
               class="form-control"
               id="previousYearAttendantsNumber"
               name="previousYearAttendantsNumber"
               th:value="${se?.previousYearAttendantsNumber}"
               required><br><br>

        <label for="previousYearTotalStudents">Previous Year Total Students:</label>
        <input type="number"
               class="form-control"
               id="previousYearTotalStudents"
               name="previousYearTotalStudents"
               th:value="${se?.previousYearTotalStudents}"
               required><br><br>

        <label for="attendantsNumber">Attendants Number:</label>
        <input type="number"
               class="form-control"
               id="attendantsNumber"
               name="attendantsNumber"
               th:value="${se?.attendantsNumber}"
               required><br><br>

        <label for="totalStudents">Total Students:</label>
        <input type="number"
               class="form-control"
               id="totalStudents"
               name="totalStudents"
               th:value="${se?.totalStudents}"
               required><br><br>

        <label for="expectedNumber">Expected Number:</label>
        <input type="number"
               class="form-control"
               id="expectedNumber"
               name="expectedNumber"
               th:value="${se?.expectedNumber}"
               required><br><br>

        <label for="numRepetitions">Num Repetitions:</label>
        <input type="text"
               class="form-control"
               id="numRepetitions"
               name="numRepetitions"
               th:value="${se?.numRepetitions}"
               required><br><br>

        <label for="fromTime">From time:</label>
        <input type="datetime-local"
               class="form-control"
               id="fromTime"
               name="fromTime"
               th:value="${se?.fromTime}"
               required><br><br>

        <label for="toTime">To time:</label>
        <input type="datetime-local"
               class="form-control"
               id="toTime"
               name="toTime"
               th:value="${se?.toTime}"
               required><br><br>

        <label for="roomNames">Rooms:</label>
        <select class="form-control" id="roomNames" name="roomNames" multiple required>
                <option th:each="room : ${rooms}" th:value="${room.name}" th:text="${room.name}"
                    th:selected="${room != null ? se.getRooms() == room : false}">[room.name]</option>
        </select><br><br>

        <label for="comment">Comment:</label>
        <input type="text"
               class="form-control"
               id="comment"
               name="comment"
               th:value="${se?.comment}"
               required><br><br>

        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>
</body>
</html>