<!DOCTYPE html>
<html html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Exams</title>
</head>
<body>
<div layout:fragment="content">
    <table>
        <tr>
            <th>Course</th>
            <th>Session</th>
            <th>Name</th>
            <th>ExamType</th>
            <th>DurationMinutes</th>
            <th>AttendantsNumber</th>
            <th>From</th>
            <th>To</th>
        </tr>
        <tr class="item" th:each="exam: ${courseexamparts}">
            <td th:text="${exam.course.subject.name}">[exam.course.subject.name]</td>
            <td th:text="${exam.session.name}">[exam.session.name]</td>
            <td th:text="${exam.name.}">[exam.name]</td>
            <td th:text="${exam.durationMinutes}">[exam.durationMinutes]</td>
            <td th:text="${exam.attendantsNumber}">[exam.attendantsNumber]</td>
            <td th:text="${exam.from}">[exam.from]</td>
            <td th:text="${exam.to}">[exam.to]</td>
            <td>
                <th:block>
                    <form method="post" th:action="@{'/courseexampart/{id}/delete' (id=${exam.id})}">
                        <button type="submit" class="delete-item">Delete</button>
                    </form>
                    <a class="edit-item" th:href="@{'/courseexampart/{id}/edit' (id=${exam.id})}">
                        <button type="submit" class="edit-item">Edit</button>
                    </a>
                    <form th:action="@{'/courseexampart/{id}' (id=${ses.name})}" method="POST">
                        <button type="submit">Add course exam part</button>
                    </form >
                </th:block>
            </td>
        </tr>
    </table>
</div>
</body>
</html>